{{#md-toolbar classNames='demo-toolbar'}}
  <div class="md-toolbar-tools">
    {{#link-to 'index'}}
      <span>Ember Random Quote Machine</span>
    {{/link-to}}
    <span flex></span>
    {{#link-to 'all'}}
      {{#md-button layoutType="row" layout-align="center center" style='min-width: 72px;'}}
        <span>All quotes</span>
      {{/md-button}}
    {{/link-to}}

    {{#link-to 'new'}}
      {{#md-button layoutType="row" layout-align="center center" style='min-width: 72px;'}}
        <span>Add quotes</span>
      {{/md-button}}
    {{/link-to}}
  </div>
{{/md-toolbar}}

{{outlet}}
