{{#md-toolbar classNames='demo-toolbar'}}
  <div class="md-toolbar-tools">
    <span>Ember Random Quote Machine</span>
    <span flex></span>
    {{#md-button action='showQuotes' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
      <span>All quotes</span>
    {{/md-button}}

    {{#md-button action='addQuote' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
      <span>Add quotes</span>
    {{/md-button}}
  </div>
{{/md-toolbar}}

{{outlet}}
