<header>
  <h1>Ember Random Quote Machine</h1>

  <ul>
    <li>All Quotes</li>
    <li>Add Quote</li>
  </ul>
</header>

{{outlet}}

<footer>
  <p>
    Made with <span class="love">❤</span> by <a href="https://github.com/ericdouglas"></a>Eric Douglas
  </p>
</footer>
