<div class="container">
  <section class="quote">
    <p>
      Amet odit sapiente cupiditate quaerat id voluptatem totam consequuntur perspiciatis iusto. Et provident repellendus ipsum aut eaque eligendi, molestiae. Accusamus ducimus animi maxime sequi mollitia quos, explicabo, quia atque! Atque.
    </p>
   <div class="btn-option-group">
     <span class="btn-option edit">⚙</span>
     <span class="btn-option delete">✖</span>
   </div>
  </section>
  </div>
