<md-content>
  <md-card>
    <md-card-content>
      <h2 class="md-title">Ember Quote</h2>
      <p>
        Ipsum corporis consectetur iste ratione beatae, enim! Inventore ipsum molestias quaerat quos dolorem error nihil eos ad, cumque harum, provident inventore quia eaque! Et recusandae aperiam et atque praesentium! Mollitia!
      </p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      {{#md-button}}⚙ Edit{{/md-button}}
      {{#md-button}}✖ Delete{{/md-button}}
    </div>
  </md-card>
</md-content>
